<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real State Project for you</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="../static/css/styleO.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    <!--styles-->
    <style>.split {height: 450px; width: 800px; position: relative; z-index: 1; top: auto;
      overflow-x: auto; padding-top: 5%;}
      .left {left: 0; background-color: rgb(21, 39, 119); color:white; text-align: left}
      .right {right: 0; background-color: rgb(21, 39, 119); color:white; text-align: right}
      .centered {position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
    </style>
    <style>
      body, h1, h2, h3, h4, h5, h6  {font-family: Arial;}
    </style>
    <style>
      * {box-sizing: border-box;}     
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;}      
      /* Clearfix (clear floats) */
      .row::after { content: ""; clear: both; display: table;}
    </style>
    <style>
        #Subset {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;}
        #Subset td, #Subset th { border: 1px solid #ddd;  padding: 8px;}        
        #Subset tr:nth-child(even){background-color: #1a60ca;}        
        #Subset tr:hover {background-color: rgb(184, 196, 25);}
        #Subset th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #1a146e;
          color: white;}
    </style>
    <style>body {background-color: rgb(210, 214, 226);}</style>
</head>


<body>

      <!-- map div -->

      <!-- <div id="legend">
        <p><b>Houston Map with Properties for Sale</b></p><hr>
        <p>Legend</p>
        <p><ul>
        <li>Circles with numbers are clusters of homes (zoom in for details)</li>
        <li>Marker size represents Price</li>
        <li>Color represents bedrooms</li>
        <li>The darkness of the marker depends on number of bathrooms</li>
        </ul></p>
        Each marker has a <b>popup</b>  
        Click on a marker to see other home features<hr>
        <img src="leaflet.png" width=50px length=10px>
      </div> -->

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    
    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>    
    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Search for your Dream Home</a>
      </div>

    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="../static/js/Dashboard.html">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Comparison<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Data<span class="sr-only">(current)</span></a></li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
      </li>
      </ul>
      </div>
      </div>
    </nav>

    <div id="map"></div>

      <div class="container">
        <div><a class="half pull-left">
        <div id="sidebar">

          <a><Click on the image to get help with zipcodes and school names></a>
          <div id="sidebarfilters">

                <div class="container half pull-left" style= 'position:relative; padding-top: 15%; background-color:  #1a146e'>

                <div class="row">
                  <div class="col-md-4">
                    <form id="form1">
                        <div class="form-group">
                            <h3 style="color:white" >Enter desired price </h3>
                            <label for="text101">for example: 150000 and press Enter </label>
                            <input class="form-control" id="chaseSearcher" type="text" name="text-input" placeholder=200000
                            />
                        </div>
                        <button id="buttonA" type="button" class="btn btn-default" style="background-color: rgb(34, 239, 247)">Enter</button>
                    </form>
                  </div>
                </div>

                <div class="row">
                <div class="col-md-4">
                  <form id="form2">
                      <div class="form-group">
                          <h3 style="color:white" >Search by School Rating</h3>
                          <label for="text102">Enter the minimum desired school rating</label>
                          <input class="form-control" id="S2" name="text-input" type="text" placeholder="A">
                          
                      </div>
                      <button id="buttonB" type="button" class="btn btn-default" style="background-color: rgb(34, 239, 247)">Enter</button>
                  </form>
                </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <form id="form3">
                        <div class="form-group">
                            <h3 style="color:white">Search by MLS number</h3>
                            <label for="text103">Enter the MLS number</label>
                            <input class="form-control" id="S3" name="text-input" type="text" placeholder="55783153">
                            <!-- <input id="input-field" type="text"> -->
                        </div>
                        <button id="buttonC" type="button" class="btn btn-default" style="background-color: rgb(34, 239, 247)">Enter</button>
                    </form>
                  </div>
                </div>

                <div class="row">
                <div class="col-md-4"> 
                  <form id="form4">
                      <div class="form-group">
                        <h3 style="color:white">Search by zipcode</h3>
                        <label for="text104">Enter Zipcode, click the image to see Houston Zipcodes</label>
                        <input class="form-control" id="S4" name="text-input" type="text" placeholder="77098">
                      </div>
                        <button id="buttonD" type="button" class="btn btn-default" style="background-color: rgb(34, 239, 247)">Enter</button>
                  </form>
                </div>
                </div>
              <br>
              <br>
              <br>
                <div>
          
                </div>
              <!-- </div> -->
          </div>
          </a>
          </div>
          </div>

        <div><a class="half pull-right">
        <div id="sidebar">
        <a><Click on the image to go to its visualization></a>
        <div id="sidebarcontents">
          <div style="text-align:center" class="box-set half pull-right">
          <a class="box box-1" href="https://www.neighborhoodscout.com/tx/houston/real-estate"><img class=scaled src="../static/Images/Fig3.png" height=250px width=250px ><strong>Home Prices</strong></a>       
          <a class="box box-2" href="https://en.wikipedia.org/wiki/List_of_Houston_Independent_School_District_elementary_schools"><img src="../static/Images/Fig2.png" height=250px width=250px ><strong>Elementary Schools</strong></a>
          <a class="box box-3" href="https://en.wikipedia.org/wiki/Category:Public_high_schools_in_Houston"><img src="../static/Images/Fig4.png" height=250px width=250px ><strong>High Schools</strong></a>
          <a class="box box-4" href="https://www.zip-codes.com/city/tx-houston.asp"><img src="../static/Images/Fig1.png" height=250px width=250px ><strong>Zipcodes</strong></a>
          </div>
        </div>
        </div>
        </div>
      </div>


                
                <br>
                <h1>Filtered Data</h1>
                <div class="container" style="font-size: 12px; color:white; background-color: rgb(20, 21, 65)">
                  <div class="row1">
                    <div class="col-md-12">
                      <!-- Homes Selection table-->
                      <table id="Subset" class="SelectedCriteria" >
                        <thead>
                          <tr>
                              <th>MLS</th>
                              <th>Address</th>
                              <th>Zip</th>
                              <th>Subdivision</th>
                              <th>List Price</th>
                              <th>Bedrooms</th>
                              <th>Total Baths</th>
                              <th>School Rating</th>
                          </tr>
                        </thead>  
                        <tbody>
                        </tbody> 
                      </table> 
                    </div>
                  </div>
                </div>

        <h1>Full Listing Table</h1>
        <div class="container" style="font-size: 8px; color:rgb(41, 39, 34); background-color: rgb(189, 190, 212) ">
            <div class="row">
              <div class="col-md-12" >
                <table class="Full table">
                  <thead> 
                    <tr>
                      <th>MLS</th>
                      <th>Address</th>
                      <th>Zip</th>
                      <th>Subdivision</th>
                      <th>List Price</th>
                      <th>Bedrooms</th>
                      <th>Total Baths</th>
                      <th>School Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </body>

<!-- <script src="java.js" type="text/javascript"></script> -->
<!-- <script src="static/js/data.geojson"></script> -->
<script src="../static/js/RealState.js"></script>

</html>